<!--
 * This file is part of MediCom
 *
 * Copyright © 2016, Chifeng Wen.
 * MediCom is free software; you can redistribute it and/or modify it under the terms of
 * the GNU General Public License, version 2, as published by the Free Software Foundation.
 * This program is distributed in the hope that it will be useful, but WITHOUT ANY WARRANTY;
 * without even the implied warranty of MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.
 * See the GNU General Public License for more details.
 *
 * You should have received a copy of the GNU General Public License along with this program; if not,
 * write to the Free Software Foundation, Inc., 51 Franklin St, Fifth Floor, Boston, MA 02110-1301 USA
 -->
<template name="tmplactivitycenter">

<script>
        document.body.className = "simp_nature";
</script>

<body>
        <div class="simp_two-sided"> 

            <div class="simp_left">
                <div class="simp_user-board">
                        <h2 id="txt-logo" class="simp_heading" style="margin-left: 30px; margin-top: 20px;" >
                                <a class="simp_no-decoration" style="color: white;" href="home">MediCom</a>
                        </h2>
                        {{> tmpluserbrowser}}
                </div>
            </div>

            <div class="simp_right" style="background-color: white; overflow-y: scroll">
                        <div class="tran_login-link" 
                             style="float: none; 
                                    position: relative; 
                                    left: 72%;"> 
                                <a id="a-welcome-holder" class="tran_login-link">
                                </a>
                                <a id="a-logout" class="tran_login-link" style="display: none;">Log out</a>
                        </div>
                <div class="simp_browser-board">
                        {{#if use_default}}
                                {{> tmplbrowserdefault}}
                        {{else}}
                                {{#if use_session_browser}}
                                        {{> tmplsessionbrowser}}
                                {{else}}
                                        {{#if use_data_browser}}
                                                {{> tmpldatabrowser}}
                                        {{/if}}
                                {{/if}}
                        {{/if}}
                </div>
            </div>
        </div>
</body>
</template>
