<!--
 * This file is part of MediCom
 *
 * Copyright © 2016, Chifeng Wen.
 * MediCom is free software; you can redistribute it and/or modify it under the terms of
 * the GNU General Public License, version 2, as published by the Free Software Foundation.
 * This program is distributed in the hope that it will be useful, but WITHOUT ANY WARRANTY;
 * without even the implied warranty of MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.
 * See the GNU General Public License for more details.
 *
 * You should have received a copy of the GNU General Public License along with this program; if not,
 * write to the Free Software Foundation, Inc., 51 Franklin St, Fifth Floor, Boston, MA 02110-1301 USA
 -->
 <template name="tmplbpbrowser">
        <div>
                <div id="div-filepath" style="display: inline;"></div>
                <div style="display: inline; 
                            margin-left: 15px; 
                            margin-right: 10px; 
                            float: right;">
                        <label id="lb-disconnect" class="simp_classic-flat">
                                Disconnect
                        </label>
                </div>
                <div style="display: inline; 
                            float: right;">
                        <label for="ipt-file-select" class="simp_classic-flat">
                                Connect to...
                        </label>
                </div>
                <input style="display: none;" id="ipt-file-select" type="file" />
                
                <div style="margin-top: 25px; margin-bottom: 5px;">
                        <input type="text" id="ipt-start-date" placeholder="start date" /> to 
                        <input type="text" id="ipt-end-date" placeholder="end date" />
                        sample count
                        <input type="text" id="ipt-num-samples" value="30" />
                        filter
                        <select id="sel-filter-method" class="simp_select" style="min-width: 0%; display: inline;">
                                <option value="plain">no filter</option>
                                <option value="uniform average">uniform average</option>
                                <option value="uniform min">uniform min</option>
                                <option value="uniform max">uniform max</option>
                        </select>
                </div>
        </div>
        <div id="charting-area" style="width: 100%; min-height: 300px;"></div>
 </template>
