<!--
 * This file is part of MediCom
 *
 * Copyright © 2016, Chifeng Wen.
 * MediCom is free software; you can redistribute it and/or modify it under the terms of
 * the GNU General Public License, version 2, as published by the Free Software Foundation.
 * This program is distributed in the hope that it will be useful, but WITHOUT ANY WARRANTY;
 * without even the implied warranty of MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.
 * See the GNU General Public License for more details.
 *
 * You should have received a copy of the GNU General Public License along with this program; if not,
 * write to the Free Software Foundation, Inc., 51 Franklin St, Fifth Floor, Boston, MA 02110-1301 USA
 -->
<template name="tmpldatabrowser">
<div id="data-panel">
        <div class="simp_browser-title-holder">Session: {{session_id}}</div>
        
        {{> tmplsessionnotes}}
        
        <select id="sel-chart-types" class="simp_select" style="margin-bottom: 10px;">
        </select>

        {{#if use_smartbrowser}}
                {{> tmplsmartbrowser}}
        {{else}}
                {{#if use_bpbrowser}}
                        {{> tmplbpbrowser}}
                {{else}}
                        {{#if use_pbcbrowser}}
                                {{> tmplpbcbrowser}}
                        {{else}}
                                {{#if use_symptombrowser}}
                                        {{> tmplsymptombrowser}}
                                {{else}}
                                        {{#if use_fitbitbrowser}}
                                                {{> tmplfitbitbrowser}}
                                        {{/if}}
                                {{/if}}
                        {{/if}}
                {{/if}}
        {{/if}}
        <button id="btn-save-change" 
                class="simp_classic"
                style="margin-top: 10px; width: 100%;">Save All Changes</button>
</div>
</template>
