<!--
 * This file is part of MediCom
 *
 * Copyright © 2016, Chifeng Wen.
 * MediCom is free software; you can redistribute it and/or modify it under the terms of
 * the GNU General Public License, version 2, as published by the Free Software Foundation.
 * This program is distributed in the hope that it will be useful, but WITHOUT ANY WARRANTY;
 * without even the implied warranty of MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.
 * See the GNU General Public License for more details.
 *
 * You should have received a copy of the GNU General Public License along with this program; if not,
 * write to the Free Software Foundation, Inc., 51 Franklin St, Fifth Floor, Boston, MA 02110-1301 USA
 -->
 <template name="tmplsmartbrowser">
        <div>
                <div id="div-chart-select">
                        Include: <br>
                        <input type="checkbox" id="cb-bp" value="use_bp"> Blood Pressure<br>
                        <input type="checkbox" id="cb-pbc" value="use_bpc"> Drug taking frequncy<br>
                        <input type="checkbox" id="cb-sym-feeling" value="use_sym_feeling" > General Feeling<br>
                        <input type="checkbox" id="cb-fb-qsleep" value="use_fb_qsleep" > Sleep Quality<br>
                </div>
                <div style="margin-top: 25px; margin-bottom: 5px;">
                        <input type="text" id="ipt-start-date" placeholder="start date" /> to 
                        <input type="text" id="ipt-end-date" placeholder="end date" />
                        
                        filter
                        <select id="sel-filter-method" class="simp_select" style="min-width: 0%; display: inline;">
                                <option value="plain">no filter</option>
                                <option value="uniform average">uniform average</option>
                                <option value="uniform min">uniform min</option>
                                <option value="uniform max">uniform max</option>
                        </select>

                        expected dose
                        <input type="text" id="ipt-expected-doses" style="width: 35px" value="2" />
                </div>
        </div>
        <div id="charting-area" style="width: 100%; min-height: 300px;"></div>
 </template>
